<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="icon" href="./assets/favicon.ico" />
  <title>termoDaQ - Restablecer contraseña</title>
  <link rel="stylesheet" href="./assets/coreui.min.css">
</head>

<body>
  <div id="app" class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-8 col-md-8 col-lg-6">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form id="formResetPassword" @submit.prevent="onSubmit" method="POST" action="">
                <h1>Restablecer</h1>
                <p class="text-muted">
                  Ingrese una nueva contraseña para su cuenta
                </p>
                <div role="group" class="input-group mb-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <img class="" src="./assets/key-solid.svg" height="15" alt="llave">
                    </div>
                  </div>
                  <input v-model="userData.newPassword" name="newPassword" type="password" placeholder="Contraseña"
                    autocomplete="new-password" class="form-control form-control" id="_password" required />
                </div>
                <div role="group" class="input-group mb-4">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <img src="./assets/key-solid.svg" height="15" alt="llave">
                    </div>
                  </div>
                  <input v-model="userData.password_confirm" type="password" placeholder="Repita su contraseña"
                    autocomplete="new-password" class="form-control form-control" id="_password_confirm" required />
                </div>
                <input type="text" name="access_token" id="access_token" value="token" disabled hidden>
                <button type="submit" class="btn btn-primary btn-block"
                  :disabled="userData.password_confirm != userData.newPassword ? true : false">
                  Restablecer contraseña
                </button>
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-12">
                  <button type="button" class="btn btn btn-secondary btn-block">
                    <span>Volver a Inicio de Sesión</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="./assets/vue.min.js"></script>
  <script src="./assets/axios.min.js"></script>
  <script src="./assets/vue-toasted.min.js"></script>

  <script>
    Vue.use(Toasted)

    var app = new Vue({
      el: '#app',
      data: {
        loginRoute: '/',
        userData: {
          newPassword: null,
          password_confirm: null
        }
      },

      created() {
        let url_string = window.location.href
        let url = new URL(url_string)
        let access_token = url.searchParams.get('access_token')
        document.getElementById('access_token').value = access_token
        let host = 'https://termodaq-api.herokuapp.com/api'
        let actionUrl = host + '/usuario/reset-password?access_token=' + access_token
        document.getElementById("formResetPassword").action = actionUrl
      },

      methods: {
        onSubmit(params) {

          if (this.userData.newPassword.trim() !== this.userData.password_confirm.trim()) {
            this.$toast.error('La contraseña no coincide, por favor verifique', {
              duration: 3500,
              iconPack: 'fontawesome',
              icon: 'times'
            })
            return
          }

          let url_string = window.location.href
          let url = new URL(url_string)
          let access_token = url.searchParams.get('access_token')
          let userData = this.userData
          let api_url = 'https://termodaq-api.herokuapp.com/api/usuario/reset-password?access_token=' + access_token
          let self = this

          axios({
            method: 'post',
            url: api_url,
            mode: 'no-cors',
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Content-Type': 'application/json',
            },
            withCredentials: false,
            data: {
              newPassword: userData.newPassword
            }
          })

          .then(function (response) {
            Vue.toasted.error('¡Operación exitosa!', {
              duration: 3500,
              iconPack: 'fontawesome',
              icon : 'times'
            })
          })

          .catch(function (e) {
            if (e.response) {
              let error = e.response.data.error
              let detalles = error.details
              console.log(error.statusCode)
              console.log(error.code)
              console.log(error.name)
              console.log(error.message)
              console.log(error.details)

              if (error.code == 'AUTHORIZATION_REQUIRED') {
                Vue.toasted.error('Error, no esta autorizado para realizar esta acción solicite un nuevo link de restablecimiento', {
                  duration: 10000,
                  iconPack: 'fontawesome',
                  icon : 'times'
                })
              }

            } else {
              console.log(e)
            }
            self.userData.newPassword = ""
            self.userData.password_confirm = ""
          })
        }
      }

    })
  </script>

</body>

</html>
